*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 80%;
    margin: 0 auto;
    background-color:darkorange;
}

/* HEADER */
header{
    width: 100%;
    background-color: #0084fd;
    display: flex;
    justify-content: space-between;
}
.header-container{
    width: 80%;
    background-color:darkorange;
    margin: 8% auto;
    display: flex;
    justify-content: space-between;
}
#logo{
    width: 90px;
    height: 50px;
    background-color: pink;
}
.header-icon{
    width: 30px;
    height: 30px;
    background-color: pink;
    margin: auto 0;
}

/* DEMO-SECTION */
.demo-section{
    padding-bottom: 50px;
}
.demo-card-head{
    width: 100%;
    height: 800px;
    background-color: #b5ddff;
    margin-top: 50px;
    border-radius: 25px;
}
.demo-card{
    width: 100%;
    height: 350px;
    background-color: #b5ddff;
    margin-top: 30px;
    border-radius: 25px;
}

/* STRATEGIC-SECTION */
.strategic-section{
    width: 100%;
    background-color: #9792e4;
    margin-top: 50px;
}
#strategic-section-img{
    width: 100%;
    height: 350px;
    margin: 50px 0;
    background-color: red;
}
#strategic-p{
    width: 100%;
    height: 300px;
    background-color: aqua;
}
#strategic-card{
    width: 100%;
    background-color: white;
    margin-top: 50px;
    margin-bottom: 80px;
    border-radius: 50px;
    padding-bottom: 10px;
}
#strategic-card-p{
    background-color: yellow;
    width: 100%;
    height: 300px;
}
#strategic-card-img{
    width: 100%;
    height: 350px;
    background-color: red;
}
#strategic-card-icon{
    width: 50px;
    height: 50px;
    background-color: coral;
    margin: 50px auto;
    margin-bottom: 15px;
    border-radius: 25px;
}

/* TESTIMONIALS */
.testiomanials-section{
    padding-bottom: 50px;
}
#testimonials-p{
    width: 100%;
    height: 400px;
    background-color: aqua;
    margin-bottom: 50px;
}
.testimonial-card{
    background-color: #9792e4;
    width: 100%;
    margin-bottom: 50px;
    border-radius: 25px;
    padding-bottom: 35px;
}
.testimonial-card-img{
    width: 80px;
    height: 80px;
    background-color: darkgoldenrod;
    margin: auto;
}
.testimonial-card-p{
    width: 95%;
    height: 200px;
    background-color: aqua;
    margin: 25px auto;
}
.testimonial-card-bottom-p{
    width: 60%;
    height: 50px;
    margin: auto;
    background-color: aqua;
}